<div *ngIf="weather" class="card card-weather">
  <div class='flexbox'>
    <div class='flex addPaddingBottom' [style.background]="weather.today.hslTempColor">
      <div class='flex-child'>
        <div class="today">
          <!-- The Big Number -->
          <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
              <div class="currentTemp">
                <div class="flex">
                  <div class="currentTempValue">
                    {{weather.today.high}}
                  </div>
                  <div class="currentTempUnit">
                    º{{weather.today.tempUnits}}
                  </div>
                </div>
              </div>
              <div class="currentTempImg">
                <img [src]="weather.today.imageUrl" />
              </div>
            </div>
          </div>
          <!-- The resume -->
          <div class="row">
            <div class="col-xs-10 col-sm-8 col-md-6 col-centered">
              <h3>{{weather.location.city}}, {{weather.location.country}}</h3>
              <em>Today: {{weather.today.text}}</em>
            </div>
          </div>
        </div>
        <!-- Other days -->
        <div class="row rowOtherDays">
          <div class="col-xs-12 col-sm-10 col-md-10 col-centered">
            <div *ngFor="let weatherDay of weather.otherDays;" class="row otherDays">
              <div class="row">
                <div class="col-xs-7 col-sm-8 col-md-8 row-left">
                  <div class="inlineBlock">
                    <img [src]="weatherDay.imageUrl" />
                  </div>
                  <div class="inlineBlock">
                    {{weatherDay.date | date:"EEEE, d MMM" }}
                  </div>
                </div>
                <div class="col-xs-5 col-sm-4 col-md-4 row-right">
                  {{weatherDay.lowWUnit}}-{{weatherDay.highWUnit}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-bottom">
      Last update at {{weather.lastBuildDate}}
    </div>
    <!--<div class='static'>
      <div>
        Last update at {{weather.lastBuildDate}}
      </div>
      <div>
        Refresh!
      </div>
    </div>-->
  </div>
  <simple-notifications [options]="options"></simple-notifications>
</div>