<form class="navbar-form navbar-left" onsubmit="return false">
  <div class="form-group">
    <input placeholder="{{placeholder}}" #location class="form-control" (keyup.enter)="sendOutEvent($event)" />
  </div>
    <simple-notifications [options]="options"></simple-notifications>
</form>