/**
*   Class to center a column
*/

.col-centered {
    float: none;
    margin: 0 auto;
}
.navbar-flexed {
    display: flex;
    width: 100%;
    .navbar-brand {
        order: 1;
        font-size: 38px;
        font-weight: bold;
        padding: 0px;
        /* firefox bug fix */
    }
    .navbar-brand>img {
        margin-left: 7px;
        height: 96%;
        padding: 0px;
        /* firefox bug fix */
        
        width: auto;
        /* Safari 6.1+ (9.0 is the latest version of Safari at this time) */
        
        @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio: 0) {
            .safari_only {
                margin-right: 5px;
            }
        }
    }
    location {
        order: 2;
        flex-grow: 1;
        vertical-align: top;
        display: flex;
        .navbar-form {
            width: 100%;
            margin-left: 1em;
            margin-right: 0px;
            padding: 0px 10px;
            border: 0;
            .form-group {
                order: 1;
                flex-grow: 1;
                margin-right: 5px;
                flex: 1 0 auto;
                width: 100%;
                input {
                    width: 100%;
                    @include linearGradientbackground( darken($color: $blipBlue, $amount: 5%), darken($color: $blipBlue, $amount: 10%));
                    border-color: darken($color: $blipBlue, $amount: 3%);
                    color: white;
                }
            }
            button {
                order: 2;
                height: 34px;
            }
        }
    }
}
.container-body {
    margin: 60px 1rem 0 1rem;
    text-align: center;
}

/**
* Card for weather component
*/

.card-weather {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.card {
    border-radius: 2px;
    display: inline-block;
    position: relative;
    width: 100%;
    .flexbox {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .flex {
            flex: 1;
            display: flex;
        }
        .flex-child {
            width: 100%;
            display: block;
            background: transparent;
            padding: 0 25px;
            
            >.today {
                img {
                    height: 6rem;
                    width: 6rem;
                    margin: 0 auto;
                    display: table-cell;
                    vertical-align: middle;
                }
                .currentTemp {
                    display: inline-block;
                }
                .currentTempValue {
                    font-size: 80px;
                }
                .currentTempUnit {
                    font-size: 12px;
                    margin-top: 28px;
                }
                .currentTempImg {
                    display: inline-block;
                }
            }
        }
        .static {
            border-top: 1px solid rgba(0, 0, 0, 0.23);
            background: rgba(0, 0, 0, 0.16);
            width: 100%;
            height: 3rem;
            padding: 3px 0;
            display: flex;
            flex-direction: row;
            > .half {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                &:first-child {
                    border-right: 1px solid rgba(0, 0, 0, 0.23);
                }
            }
        }
        .addPaddingBottom {
            padding-bottom: 40px;
        }
        .row-left {
            text-align: left;
        }
        .row-right {
            text-align: right;
        }
        .rowOtherDays {
            margin-top: 20px;
        }
    }
    .card-bottom {
        position: absolute;
        bottom: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.23);
        background: rgba(0, 0, 0, 0.16);
        width: 100%;
        height: 2rem;
        padding: 3px 2px;
        text-align: right;
        font-size: smaller;
    }
    .otherDays {
        background: rgba(0, 0, 0, 0.16);
        margin-bottom: 3px;
        padding: 3px;
        @include border-top-radius(2px);
        @include border-bottom-radius(2px);
        @include border-left-radius(2px);
        @include border-right-radius(2px);
        img {
            height: 19px;
            width: 19px;
            margin: 0 auto;
            display: table-cell;
            vertical-align: middle;
        }
    }
}
.inlineBlock {
    display: inline-block;
    vertical-align: middle;
}