// Blip colors
$blipWhite: #FDFDFD;
$blipBlue: #039ED4;
$blipDark: #241E20;

// Random editings
$body-bg: $blipBlue;
$text-color: $blipDark;
$brand-primary: $blipDark;

//Navbar editings
$navbar-default-bg: $blipWhite;
$navbar-default-border: darken($blipBlue,9%); 
$navbar-default-brand-color: $blipDark;