<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="navbar-header navbar-flexed">
		<div href="#" class="navbar-brand safari_only"><img src="images/weather_api_client.svg"></div>
		<location (place)="handleEvent($event)"></location>
	</div>
</nav>


<div class="container-body">
	<div class="col-xs-12 col-sm-10 col-md-8 col-centered">
		<weather place="{{this.globalData['place']}}"></weather>
	</div>
</div>